<mat-tab-group mat-align-tabs="center" class="example-stretched-tabs mat-elevation-z4">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-auth-icon">thumb_up</mat-icon>
      Login
    </ng-template>
      <!-- TAB LOGIN-->
      <div id="login-tab" class="row">
        <div class="col s12 z-depth-4 card-panel">
          <form class="login-form" (ngSubmit)="onSubmitLogin(fLogin)" #fLogin="ngForm">
            <div class="row">
              <div class="input-field form-group col s12">
                  <i class="material-icons prefix">alternate_email</i>
                <input type="email" id="loginEmail" name="loginEmail" ngModel class="form-control" required>
                <label for="loginEmail" class="center-align">email</label>
              </div>
              <div class="input-field form-group col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input type="password" id="loginPassword" name="loginPassword" ngModel class="form-control" required>
                <label for="loginPassword">Password</label>
              </div>
            </div> <!-- ROW inputs-->
            <div class="row">
              <div class="input-field col s12">
                <!-- DIV PARA ESPAÇAR TAB LOGIN -->
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button mat-raised-button color="primary" class="col s12">
                  LOGIN
                </button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="#" target="_self">Não é cadastrado?</a></p>
              </div>
              <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small"><a href="#">Forgot password ?</a></p>
              </div>
            </div>

          </form>
        </div>
      </div> <!-- / TAB LOGIN-->
  </mat-tab> <!-- / TAB LOGIN-->

  <mat-tab> <!--  TAB REGISTRAR-->
    <ng-template  mat-tab-label>
      <mat-icon class="tab-auth-icon">thumb_up</mat-icon>
      Registrar
    </ng-template>
        <!-- TAB REGISTRAR-->
        <div id="register-tab" class="row">
          <div class="col s12 z-depth-4 card-panel">
              <form (ngSubmit)="onSubmitRegister(f)" #f="ngForm">
              <div class="row ">
                <div class="input-field form-group col s12">
                  <i class="material-icons prefix">face</i>
                  <input type="text" id="regUser" name="regUser" ngModel class="form-control" required>
                  <label for="regUser" class="center-align ">Username</label>
                </div>
                <div class="input-field form-group col s12">
                  <i class="material-icons prefix">alternate_email</i>
                  <input type="email" id="regEmail" name="regEmail" ngModel class="form-control" required>
                  <label for="regEmail" class="center-align">e-mail</label>
                </div>
                <div class="input-field form-group col s12">
                  <i class="material-icons prefix">vpn_key</i>
                  <input type="password" id="regPassword" name="regPassword" ngModel class="form-control" required>
                  <label for="regPassword">Password</label>
                </div>
              </div> <!-- ROW inputs-->
              <div class="row">
                <div class="input-field col s12">
                  <button mat-raised-button color="primary" class="col s12">
                    REGISTRAR
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6 m6 l6">
                  <p class="margin medium-small"><a href="#" target="_self">Ja é cadastrado?</a></p>
                </div>
                <div class="input-field col s6 m6 l6">
                  <p class="margin right-align medium-small"><a href="#">Forgot password ?</a></p>
                </div>
              </div>

            </form>
          </div>
        </div><!-- / TAB REGISTRAR-->
  </mat-tab>

</mat-tab-group>
