<div class="navbar-fixed">
  <mz-navbar>
    <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item>
        <a href="#" class="brand-logo">Logo</a>
      </mz-navbar-item>
    </mz-navbar-item-container>
    <mz-navbar-item-container [align]="'right'" class="hide-on-med-and-down show-on-large">
      <mz-navbar-item *ngIf="isLoggedIn"><a href="">MENU 1</a></mz-navbar-item>
      <mz-navbar-item *ngIf="isLoggedIn"><a href="">MENU 2</a></mz-navbar-item>
      <mz-navbar-item *ngIf="isLoggedIn"><a href="">MENU 3</a></mz-navbar-item>
      <mz-navbar-item *ngIf="isLoggedIn"><a routerLink="/my-posts">My Posts</a></mz-navbar-item>
      <mz-navbar-item *ngIf="!isLoggedIn"><a routerLink="/login">Sign up</a></mz-navbar-item>
      <mz-navbar-item *ngIf="isLoggedIn"><a (click)="onLogout()" href="#">Logout</a></mz-navbar-item>

      <mz-navbar-item *ngIf="isLoggedIn">
        <mz-dropdown [id]="'dropdown-demo'" [align]="'left'" [belowOrigin]="false" [constrainWidth]="true" [dropdownButtonId]="'btn-dropdown-demo'"
          [gutter]="true" [hover]="false" [inDuration]="300" [outDuration]="300" [stopPropagation]="true">
          <mz-dropdown-item><span class="user-title">Nome: </span><span class="user-data">{{name}}</span></mz-dropdown-item>
          <mz-dropdown-item><span class="user-title">Email: </span><span class="user-data">{{email}}</span></mz-dropdown-item>
          <mz-dropdown-item><span class="user-title">ID: </span><span class="user-data">{{uid}}</span></mz-dropdown-item>
        </mz-dropdown>
        <a id="btn-dropdown-demo" href="#">
            <i mz-icon
            [align]="'right'"
            [icon]="'user-circle'"
            [size]="'medium'">
          </i>
        </a>
      </mz-navbar-item>
    </mz-navbar-item-container>
    <mz-navbar-item-container  [align]="'left'" class="show-on-medium-and-down hide-on-large-only">
      <mz-navbar-item>
        <a type="button" id="btn-sidenav-demo">
          <i class="material-icons">menu</i>
        </a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
</div>

<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header>
    Sidenav header
  </mz-sidenav-header>
  <mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>
  <mz-sidenav-link>
    <a href="#">First Link</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link [active]="true">
    <a routerLink="/my-posts">My Posts</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
   <a routerLink="/signup">Sign up</a>
  </mz-sidenav-link>
</mz-sidenav>

