<div class="row">

  <div class="col  m12 s12">
    <!-- TAB LOGIN-->
    <div id="login-tab" class="row">
      <div class="col s12 z-depth-4 card-panel">
        <form id="upLoad-form">
          <div class="row">
            <div class="input-field col s12 center">
              <H2>Criar ensaios</H2>
              <!-- <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login"> -->
              <p class="center login-form-text">Fazer upLoads de ensaios</p>
            </div>
          </div>
          <!-- <div class="row margin">
                  <div class="input-field form-group col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input type="text" id="regUser" name="regUser" ngModel class="form-control" required>
                    <label for="regUser" class="center-align ">Username</label>
                  </div>
                </div> -->
          <div class="row margin">
            <div class="input-field form-group col s12">
              <i class="mdi-social-person-outline prefix"></i>
              <input type="email" id="loginEmail" name="loginEmail" ngModel class="form-control" required>
              <label for="loginEmail" class="center-align">e-mail</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field form-group col s12">
              <i class="mdi-action-lock-outline prefix"></i>
              <input type="file" id="uploadFile" name="uploadFile" ngModel class="form-control" required>
              <label for="uploadFile">UpLoad</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12  login-text">

            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button type="submit" mz-button class="btn waves-effect waves-light col s12">
                Cadastrar
              </button>
            </div>
          </div>
         </form>
      </div>
    </div>
  </div>

</div>



